#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# Select the PVE::InitSystem backend to build against (see src/Makefile's
# PVE_INIT_SYSTEM variable) based on whether the pkg.pve-common.sysvinit
# build profile is active, e.g. via `dpkg-buildpackage -Ppkg.pve-common.sysvinit`.
ifneq (,$(filter pkg.pve-common.sysvinit,$(DEB_BUILD_PROFILES)))
export PVE_INIT_SYSTEM = sysvinit
else
export PVE_INIT_SYSTEM = systemd
endif

%:
	dh $@
